html{
    margin: 0;
    padding: 0;
}
.container{
    height: 100vh;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(pink,rgb(249, 210, 216));

}
.content{
    height: 80vh;
    width: 50vh;
    padding-left: 3%;
    border-radius: 15px;
    font-family: Arial, Helvetica, sans-serif;
    backdrop-filter: blur(40px);
    background-image: url(pink.jpeg);
}
.container h1{
    color: #fff;
    text-align: center;
    margin-top: 1em;
    font-weight: 400px;
}
.form{
    margin-top: 1.8em;
    margin-left: auto;
}
.input{
    border: none;
    border-radius: 0.2em;
    padding-top: 0.3em;
    padding-bottom: 0.3em;
    padding-left: 0.4em;
    background-color: darkgrey;
    backdrop-filter: blur(30px);
    margin-top: 0.6em;
    margin-right: 100%;
}
.label{
    color: rgba(8,63,1);
    font-weight: 540;
    font-family: cursive;
}
.submit{
    padding-left: 2em;
    padding-right: 2em;
    padding-top: 0.6em;
    padding-bottom: 0.6em;
    background-color: rgb(233, 143, 173);
    color: #ffffff;
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.9em;
}
.content p{
    margin-left: 2em;
    margin-top: 1em;
    color: rgb(0,0,0);
}
.content a{
    color: rgb(13, 13, 233);
}